.report-block-post{
    font-family: 'Inter', 'Kanit', sans-serif;
    border: 0px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report-right{
    display: flex;
    flex-direction: column;
}

.post-caption{
    display: flex;
    width: 50%;
}

.post-image{
    width: 500px;
    height: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.report-details {
    display: flex;
    flex-direction: column;
  }
  
  .report-item {
    display: flex;
    justify-content: space-between; /* กระจายเนื้อหาทั้งสองฝั่ง */
  }  